In [1]:
import pandas as pd
import numpy as np
import metapub
 # import biopython

2023-03-20 20:32:42 LAPTOP-G25AO21J metapub.config[11128] WARNING NCBI_API_KEY was not set.

In [2]:
keyword="sepsis"
num_of_articles=3

In [3]:
from metapub import PubMedFetcher
fetch = PubMedFetcher()

# get the  PMID for first 3 articles with keyword sepsis
pmids = fetch.pmids_for_query(keyword, retmax=num_of_articles)

# get  articles
articles = {}
for pmid in pmids:
    articles[pmid] = fetch.article_by_pmid(pmid)

In [4]:
# get title for each article:
titles = {}
for pmid in pmids:
    titles[pmid] = fetch.article_by_pmid(pmid).title
Title = pd.DataFrame(list(titles.items()),columns = ['pmid','Title'])
Title

       pmid                                              Title
0  36939682  PROPHYLACTIC nCMT-3 ATTENUATES SEPSIS-INDUCED ...
1  36939512  Bullous ecthyma gangrenosum of the scalp durin...
2  36938691  Caring for Two in the ICU: Pharmacotherapy in ...

In [5]:
# get abstract for each article:
abstracts = {}
for pmid in pmids:
    abstracts[pmid] = fetch.article_by_pmid(pmid).abstract
Abstract = pd.DataFrame(list(abstracts.items()),columns = ['pmid','Abstract'])
Abstract

       pmid                                           Abstract
0  36939682  BACKGROUND: The kidney is the most common extr...
1  36939512                                               None
2  36938691  Safe and thoughtful medication management of p...

In [6]:
authors = {}
for pmid in pmids:
    authors[pmid] = fetch.article_by_pmid(pmid).authors
Author = pd.DataFrame(list(authors.items()),columns = ['pmid','Author'])
Author

       pmid                                             Author
0  36939682  [Ma J, Wang X, Gu R, Guo D, Shi C, Kollisch-Si...
1  36939512  [Cortese A, Manara S, Pancetti S, Toso F, Fior...
2  36938691  [Heavner MS, Erdman G, Barlow B, Aldhaeefi M, ...